/**
 * Created by tangyue on 20/11/10
 */
.hidden-operate{
	position: fixed;
	left: 30px;
	bottom: 50px;
	background:#409eff ;
	color: #fff;
	border:solid 1px #409eff;
	border-radius: 50px;
	font-size: 20px;
	padding:2px;
	-webkit-border-radius: 50px;
	-moz-border-radius: 50px;
	-ms-border-radius: 50px;
	-o-border-radius: 50px;
	cursor: pointer;
}
.operate{
	height: 60px;
	line-height: 60px;
	bottom: 28px;
	left: 0;
	position: fixed;
	width: 100%;
	margin: 0;
	i{
		float: left;
		font-size: 26px;
		color: #A5AFD3;
		cursor: pointer;
		margin-left: 20px;
	}
	.btn{
		width: 100%;
		text-align: center;
		background: #fff;
		margin: 0 auto;
		.el-button{
			border-radius: 14px;
		}
	}
}
// 引入业务页面所需要用的样式
@import "./buzStyle/cus-dialog.scss";
@import "./buzStyle/cus-delAlert.scss";
