/**
 * Created by tangyue on 20/11/9
 */
@import './common/vars';
@import './mixins/mixins';

@mixin formItemOperateBorderStyle() {
	position: absolute;
	border-color: $--color-purple2;
	border-width: 2px;
	border-style: dashed;
}

// 表单的样式 -start--
@include b(form) {
	height: 100%; // 初始值为百分百
	box-sizing: border-box;
	// 重设一些默认元素样式 todo use mixins
	*{
		box-sizing: border-box;
	}
	ul{
		margin: 0;
	}
	a, a:focus, a:hover {
		cursor: pointer;
		color: inherit;
		text-decoration: none;
	}
	// 分组--todo目前分组组件就没用过，不确定这个样式是否有效是否正确
	@include e(group) {
		box-shadow:0 2px 12px 0 rgba(0,0,0,.1);

		// 加上下面的伪类的写法，主要是因为分组内有浮动元素，分组的高度没有被撑开
		&:after,
		&::after
		{
			content: '';
			clear: both;
			display: block;
		}
	}
	// 分组的头部
	@include e(groupHeader){
		color: #333;
		font-size: 14px;
		font-weight: bold;
		padding: 10px 20px;
		border-bottom: 1px solid #ebeef5;
		margin-bottom: 10px;
	}

	// 预览时的表单的样式
	@include m(preview){
		height: 100%;
		overflow-x: hidden;
		overflow-y: auto;
		// 重写element-ui组件的默认样式
		.el-form-item{
			margin-bottom: 0;
			.el-radio-group,
			.el-checkbox-group{
				white-space: nowrap;
				padding-left: 10px;
			}
			.el-date-editor{
				&.el-input{
					width: 100%;
				}
			}
			.el-select{
				width: 100%;

			}
			.el-input__icon{
				line-height: 34px;
			}
		}
		// 重写报错提示的样式，使其可以在显示时自动撑开
		.el-form-item__error{
			position: static;
		}
	}
	// 不同的皮肤
	@include m(blue){
		.el-form-item__label{
			background: $--form-label-blue-background-color;
			border: solid 1px $--form-label-blue-border-color;
			line-height: 32px;
			font-size: 12px;
		}
		.el-form-item__content{
			line-height: 32px;

		}
		.el-input__inner{
			border: solid 1px $--form-label-blue-border-color;
			height: 34px;
			line-height: 34px;
		}

		// 如果表单上还有不同的size
		.el-input--mini .el-input__inner {
			height: 28px;
			line-height: 28px;
		}
	}
}

@include b(formItem) {
	// 附件上传组
	@include e(upload-file){
		border: solid 1px #ccdaf4;
		.input-box{
			margin-right: 160px;
			display: block;
		}
		.file-btn{
			float: right;
			width: 56px;
			height: 34px;
			line-height: 32px;
			padding: 0;
			text-align: center;
			margin-left: 20px;
		}
		.open-file-btn{
			overflow: hidden;
			border: 1px solid #99d3f5;
			display: inline-block;
			position: relative;
			input{
				position: absolute;
				font-size: 100px;
				right: 0;
				top: 0;
				opacity: 0;
			}
		}
	}
}
// 表单的样式 --end--