/**
 * Created by tangyue on 21/1/28
 * styles added for only editing mode。但是如果要正确显示一个编辑器，则该文件以及formDesigner.scss都需要引入
 */
@import './common/vars';
@import './mixins/mixins';


@include b(form) {
	// 编辑时的表单的样式
	@include m(editing){
		@include e(itemBox) {
			&.block {
				float: none;
				clear: both;
			}
			&.hidden {
				// todo 现在是用了颜色来代表隐藏表单、不过看起来不太好看。后面看看是否能搞成右下角小图标
				.fd-formItem{
					background: rgba(177, 160, 198, .5);
				}
				.el-input__inner{
					background: inherit;
				}
			}
			// 重写原本的el-input 与el-select的组件的样式，因为原有的样式会导致input的包裹组件（el-form-item__content）的高度不同
			.el-form-item__content {
				.el-select {
					float: left;
				}

				.el-input {
					float: left;
				}
			}
			// 有oh样式的表示需要设置overflow:hidden。这主要是针对编辑模式时，不允许超出后影响了页面布局
			.oh{
				.el-form-item__content{
					overflow: hidden;
				}
			}
			.auto-width {
				width: 100%;
				padding-left: 0;
				padding-right: 0;
			}
		}
		// 表单项的一行
		@include e(row) {
			height: 100%;
			margin: 0 !important; // 覆盖掉el-row原本的margin-left与right的-17.5px。防止编辑区的宽度超出去引起不必要的滚动条
		}
		// 拖拽组件的transition的元素
		@include e(dragbox) {
			height: 100%;
			.fd-form__dragbox--inner{
				border: 1px solid #b9c2dd;// 分组的给加个边框线，为了突出是分组
				min-height: 80px;
				width: 100%;
				float: left;// 为了当子元素增加后，这个元素的高度能撑开

			}
		}
		@include e(transition) {
			height: 100%;
		}
		// 重写gost的样式
		.ghost,
		[class*=ghost-] {
			background: #F56C6C;
			border: 2px solid #F56C6C;
			outline-width: 0;
			height: 3px;
			box-sizing: border-box;
			font-size: 0;
			content: '';
			overflow: hidden;
			padding: 0;
			display: block;
			float: left;
			margin-left: 0;
			margin-right: 0;
		}

		@for $i from 0 through 24 {
			.ghost-col-#{$i} {
				width: (1 / 24 * $i * 100) * 1%;
			}
		}


		@include b(formItem) {
			position: relative;
			cursor: move;
			overflow-y: hidden;//主要是为了嵌套的表单项的高度
			overflow-x: hidden;//主要是为了嵌套的select在显示下拉框时不至于横向滚动条一闪而过
			.operate-border__top {
				@include formItemOperateBorderStyle();
				top: 0;
				left: 0;
				width: 100%;
				height: 0;
			}
			.operate-border__right {
				@include formItemOperateBorderStyle();
				top: 0;
				right: 0;
				width: 0;
				height: 100%;
			}
			.operate-border__bottom {
				@include formItemOperateBorderStyle();
				bottom: 0;
				left: 0;
				width: 100%;
				height: 0;
			}
			.operate-border__left {
				@include formItemOperateBorderStyle();
				top: 0;
				left: 0;
				width: 0;
				height: 100%;
			}

			// 清空elementui的原本样式
			.el-form-item {
				margin-bottom: 0 !important;// 编辑模式下不要下边距，视觉上的下边距是由外层的一个div提供的
			}
			.el-form-item__label {
				cursor: move;
				overflow: hidden;
				text-overflow: ellipsis;
				white-space: nowrap;
			}
			&:hover {
				.operate-border__top,
				.operate-border__right,
				.operate-border__bottom,
				.operate-border__left {
					border-color: #409EFF;
				}
			}

			// 附件上传组
			@include e(upload-file){
				.input-box{

				}
				.file-btn{

				}
				.open-file-btn{

					input{

					}
				}
			}
		}
	}
}



