/**
* 扩展的dialog的样式
*/
@import "./variables";
@import "./mixins/cus-dialog";
@import "./mixins/mixins";

@include b(dialog) {
	* {
		box-sizing: border-box;
	}
	.el-dialog__header{
		padding: 0 15px;
		.el-dialog__title{
			font-size: 12px;
			height: 30px;
			line-height: 30px;
		}
	}

	.el-dialog__headerbtn{
		top: 8px !important;
	}
	.el-dialog__close{
		font-weight: 600;
	}
	.el-dialog__body {
		padding: 20px 20px 10px;
	}
	.el-dialog__footer{
		padding: 10px 20px;
		text-align: center;
		.el-button{
			padding: 4px 14px;
			font-size: 12px;
			font-weight: 500;
		}
	}
	@include m(primary) {
		.el-dialog__header{
			@include dialog-header-variant($--dialog-header-primary-background-color);
		}
		.el-dialog__title{
			@include dialog-title-variant($--dialog-header-primary-font-color);
		}
		.el-dialog__headerbtn{
			.el-dialog__close{
				color: #fff;
				&:hover{
					color: #fff;
				}
			}
		}
		.el-dialog__footer{
			@include dialog-footer-variant($--dialog-footer-primary-background-color, $--dialog-footer-primary-border-top-color);
		}
	}
	// skin-type
	@include m(aoi2) {
		.el-dialog__header{
			@include dialog-header-variant($--dialog-header-primary2-background-color);
		}
		.el-dialog__title{
			@include dialog-title-variant($--dialog-header-primary2-font-color);
		}
		.el-dialog__headerbtn{
			.el-dialog__close{
				color: #fff;
				&:hover{
					color: #fff;
				}
			}
		}
		.el-dialog__footer{
			@include dialog-footer-variant($--dialog-footer-primary2-background-color, $--dialog-footer-primary2-border-top-color);
		}
		.el-button{
			padding: 8px 12px;
		}
		.el-button--primary{
			background: $--dialog-button-primary2-background-color;
			border-color: $--dialog-button-primary2-background-color;
		}
		.el-button--default{
			border-color: $--dialog-button-primary2-background-color;
			color: $--dialog-button-primary2-background-color;
		}
	}
}