/**
* 用于公共组件的公共变量配置
* Author ty
* CreatedData: 2020-08-25
*/

// 公共样式：例如颜色等
// colors
$--color-white: #FFFFFF !default;
$--color-gray1: #606266 !default;
$--color-primary1: #409EFF !default;
$--color-primary2: #52bee5 !default;
$--color-green1: #0DBC15 !default;
$--color-red1: #f00 !default;

// 查看表单专用的样式
$--viewEditForm-color-text-primary: #333;
$--viewEditForm-font-line-height: 26px;
$--viewEditForm-border-color: #ebeef5;// 默认的border颜色
$--viewEditForm-label-background-color: #afddffcc;

// 表格的上方工具栏的专用样式
$--tableToolbox-border-color: #239ce9;// 默认的border颜色
$--tableToolbox-border-color2: #7CAEF7;
$--tableToolbox-border-color3: #EBEDF0;
$--tableToolbox-background-color: #F9FBFF;
$--tableToolbox-font-color: #239ce9;
$--tableToolbox-font-color2: #666666;
$--tableToolbox-font-color3: rgba(82, 0, 255, 0.95);

// 表格的样式
$--table-border-color: #EBEDF0;
$--table-background-color: #F4F7F9;
$--table-font-color: rgba(82, 0, 255, 0.95);

// dialog专用的样式
$--dialog-header-primary-font-color: $--color-white !default;
$--dialog-header-primary-background-color: $--color-primary2 !default;
$--dialog-footer-primary-background-color: #eee;
$--dialog-footer-primary-border-top-color: #ddd;

$--dialog-header-primary2-font-color: $--color-white !default;
$--dialog-header-primary2-background-color: #4f96e1 !default;
$--dialog-footer-primary2-background-color: #e2e9f0;
$--dialog-footer-primary2-border-top-color: #e2e9f0;
$--dialog-button-primary2-background-color: #1b6ef6;
$--dialog-button-primary2-border-color: #1b6ef6;