@font-face {
  font-family: "iconfont"; /* Project id 2587648 */
  src: url('iconfont.woff2?t=1622699206694') format('woff2'),
       url('iconfont.woff?t=1622699206694') format('woff'),
       url('iconfont.ttf?t=1622699206694') format('truetype');
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-right-arrow:before {
  content: "\e62f";
}

.icon-warning:before {
  content: "\e6aa";
}

.icon-left-arrow:before {
  content: "\e611";
}

.icon-warning2:before {
  content: "\e635";
}

.icon-question:before {
  content: "\e659";
}

.icon-xiangyou:before {
  content: "\e71a";
}

.icon-down-arrow:before {
  content: "\e8bd";
}

.icon-success:before {
  content: "\e626";
}

.icon-question-copy:before {
  content: "\e8be";
}

