/**
 * 确认删除的弹窗
 * Created by tangyue on 20/8/31
 */
@include b(delAlert) {
	.el-dialog__body{
		padding: 25px 20px;
		text-align: center;
	}
	.el-icon-warning{
		color: #fd9b08;
		font-size: 38px;
	}
	.content-text{
		font-weight: bold;
		margin: 0 6px;
		color: #333;
	}
	.img-box{
		display: inline-block;
		padding-right: 10px;
		i{
			vertical-align: middle;
		}
	}
	.text-box{
		display: inline-block;
	}
	.red{
		color: red;
	}
}